@import "../css/variaveis.css";
@import "../css/color-classes.css";
@import "../css/fonts.css";
@import "../css/font-classes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

.avatar {
    border-radius: var(--radius-full);
    margin-right: var(--space-3);
    object-fit: cover;
    display: flex;
}

.avatar-pp {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
}

input, textarea, select {
  max-width: 300px;
  padding: var(--space-3);
  border-radius: var(--radius-md);
  border: 1px solid var(--cinza-medio);
  margin-right: var(--space-3);
}

  input:focus, textarea:focus, select:focus {
    outline: 2px solid var(--verde-escuro);
  }

@media (max-width: 480px) {
  input, textarea, select {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: var(--space-3);
  }
  
}

/* ANIMAÇÕES DO VUE */

/* Animação de entrada e saída */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
