@import "../css/variaveis.css";
@import "../css/color-classes.css";
@import "../css/fonts.css";
@import "../css/font-classes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

.avatar {
    border-radius: var(--radius-full);
    margin-right: var(--space-3);
    object-fit: cover;
    display: flex;
}

.avatar-pp {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.avatar-g {
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4);
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  width: 100%;
  max-width: 300px;
  font-size: var(--fontsize-md);
  font-weight: 600;

  & svg {
    margin-right: var(--space-3);
  }

  &.btn-primary {
    background: var(--verde-escuro);
    color: var(--branco);
  }

    &.btn-primary:hover {
      background: var(--verde-escuro-2);
    }

    &.btn-primary:active, &.btn-primary:focus {
      outline: 2px solid var(--verde);
    }

  &.btn-primary-alt {
    background: var(--branco);
    color: var(--verde-escuro);
    border: 1px solid var(--verde-escuro);
  }

    &.btn-primary-alt:hover {
      background: var(--verde-escuro-2);
      color: var(--branco);
    }

    &.btn-primary-alt:active, &.btn-primary-alt:focus {
      outline: 2px solid var(--verde);
    }

  &.btn-square {
    max-width: 40px;
  }

  &.btn-square svg {
    margin: 0;
  }
}

input:not([type="checkbox"]):not([type="radio"]), textarea, select {
  max-width: 300px;
  padding: var(--space-3);
  border-radius: var(--radius-md);
  border: 1px solid var(--cinza-medio);
  margin-right: var(--space-3);
}

  input:not([type="checkbox"]):not([type="radio"]):focus, textarea:focus, select:focus {
    outline: 2px solid var(--verde-escuro);
  }

.form-group {
  margin: var(--space-7) 0;
}

.form-group, .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

  .form-group input:not([type="checkbox"]):not([type="radio"]), .form-group select, .input-group input:not([type="checkbox"]):not([type="radio"]), .input-group select {
    max-width: 100%;
    margin: 0;
  }

  .form-group label, .input-group label {
    font-size: var(--fontsize-md);
    color: var(--preto);
    cursor: pointer;
  }

.filter {
    margin: var(--space-6) 0;
}

input[type="radio"] {
  border-radius: var(--radius-full);
}

input[type="checkbox"] {
  border-radius: var(--radius-sm);
}

input[type="checkbox"], input[type="radio"] {
  width: 23px;
  height: 23px;
  border: 2px solid var(--cinza-medio);
  appearance: none;
  cursor: pointer;
  position: relative;
  transition: all 0.4s;
}

  input[type="checkbox"]:hover, input[type="radio"]:hover {
    border: 2px solid var(--verde-escuro);
  }

  input[type="checkbox"]:checked, input[type="radio"]:checked {
    background: var(--verde-escuro);
    border: 2px solid var(--verde-escuro);
  }

    input[type="checkbox"]:checked::after {
      content: "\f00c"; /* Código unicode do ícone de check */
      font-family: "Font Awesome 6 Free"; /* Especifica a fonte do Font Awesome */
      font-weight: 900; /* Necessário para o estilo "solid" do Font Awesome */
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input[type="radio"]:checked::after {
      content: "";
      width: 17px;
      height: 17px;
      border-radius: var(--radius-full);
      border: 2px solid var(--branco);
      background: var(--verde-escuro);
      display: inline-block;
      position: absolute;
      left: 1px;
      top: 1px;
    }

.input-checkbox-group, .input-radio-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: var(--space-3) 0;

  & label {
    cursor: pointer;
    margin-left: var(--space-3);
  }
}

@media (max-width: 768px) {
  input:not([type="checkbox"]):not([type="radio"]), textarea, select {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: var(--space-3);
  }
}

/* ANIMAÇÕES DO VUE */

/* Animação de entrada e saída */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
