@import "../css/variaveis.css";
@import "../css/color-classes.css";
@import "../css/fonts.css";
@import "../css/font-classes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

.avatar {
    border-radius: var(--radius-full);
    margin-right: var(--space-3);
    object-fit: cover;
    display: flex;
}

.avatar-pp {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.avatar-g {
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4);
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  width: 100%;
  max-width: 300px;
  font-size: var(--fontsize-md);
  font-weight: 600;
}

  .btn.btn-primary {
    background: var(--verde-escuro);
    color: var(--branco);
  }

    .btn.btn-primary:hover {
      background: var(--verde-escuro-2);
    }

    .btn.btn-primary:active, .btn.btn-primary:focus {
      outline: 2px solid var(--verde);
    }

input, textarea, select {
  max-width: 300px;
  padding: var(--space-3);
  border-radius: var(--radius-md);
  border: 1px solid var(--cinza-medio);
  margin-right: var(--space-3);
}

  input:focus, textarea:focus, select:focus {
    outline: 2px solid var(--verde-escuro);
  }

.form-group {
  margin: var(--space-7) 0;
}

.form-group, .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

  .form-group input, .input-group input, .input-group select {
    max-width: 100%;
    margin: 0;
  }

  .form-group label, .input-group label {
    font-size: var(--fontsize-md);
    color: var(--preto);
    cursor: pointer;
  }

.filter {
    margin: var(--space-6) 0;
}

@media (max-width: 480px) {
  input, textarea, select {
    /* min-width: 100%; */
    margin-right: 0;
    margin-bottom: var(--space-3);
  }
}

/* ANIMAÇÕES DO VUE */

/* Animação de entrada e saída */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
